name: CI/CD Pipeline
on:
  push:
    branches:
      - "**"
  pull_request:
    # preview環境へデプロイされる
    branches:
      - main

jobs:
  ci:
    name: Run CI
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x

      - name: Check
        run: deno task check

  cd:
    name: Run CD
    runs-on: ubuntu-latest
    needs: ci
    if: github.ref == 'refs/heads/main' || github.event.pull_request.base.ref == 'main'

    permissions:
      id-token: write # Needed for auth with Deno Deploy
      contents: read # Needed to clone the repository

    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Install Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x

      - name: Build step
        run: "deno task build"

      - name: Upload to Deno Deploy
        uses: denoland/deployctl@v1
        with:
          # Deno Deployのプロジェクト名を指定
          project: "lsadsfj-fresh-tutor-10"
          entrypoint: "main.ts"
          root: "."
